# Leon - Step 1 - Preparing Dataset

## Imports

In [4]:
import pandas as pd

## Read Data

In [5]:
Nextbike_bochum_raw = pd.read_csv("./data/nextbike/bochum.csv")
Nextbike_leipzig_raw = pd.read_csv("./data/nextbike/leipzig.csv")
Nextbike_raw = Nextbike_bochum_raw.append(Nextbike_leipzig_raw)

## Check for missing Data

In [6]:
#if len(Nextbike_raw)-len(Nextbike_raw.dropna()) > 0:
 #   Nextbike_aw[Nextbike_raw.isna().any(axis=1)]
  #  print("dropped rows with missing values")
#else:
 #   print("no NA values")

## Copy Data Set for cleaning

In [7]:
Nextbike_clean = Nextbike_raw

##output
Nextbike_clean

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-08,12:06:00,683,bochum,0 days 00:10:00.000000000,51.489814,7.232856,51.479592,7.222239
1,2019-02-10,01:58:00,683,bochum,0 days 00:14:00.000000000,51.479592,7.222239,51.472366,7.250500
2,2019-02-11,06:33:00,683,bochum,0 days 00:28:00.000000000,51.472366,7.250500,51.479592,7.222239
3,2019-02-11,13:31:00,683,bochum,0 days 00:58:00.000000000,51.479592,7.222239,51.483023,7.215314
4,2019-02-11,14:32:00,683,bochum,0 days 00:22:00.000000000,51.483023,7.215314,51.479592,7.222239
...,...,...,...,...,...,...,...,...,...
185322,2019-05-25,10:58:00,99979,leipzig,0 days 00:07:00.000000000,51.468822,11.290048,51.468547,11.289899
185323,2019-05-27,09:32:00,99979,leipzig,0 days 01:16:00.000000000,51.468756,11.289723,51.469324,11.289366
185324,2019-05-27,11:02:00,99979,leipzig,0 days 00:03:00.000000000,51.469044,11.289348,51.469093,11.289432
185325,2019-02-11,11:47:00,99982,leipzig,0 days 01:44:00.000000000,51.341165,12.365045,51.341065,12.365005
185326,2019-03-22,11:35:00,999999,leipzig,0 days 00:45:00.000000000,51.324615,12.336922,51.324649,12.338129

## Type conversion

In [8]:
Nextbike_clean['trip_duration'] = pd.to_timedelta(Nextbike_clean['trip_duration'])
Nextbike_clean['timestamp'] = pd.to_datetime(Nextbike_clean['day'] + ' ' +  Nextbike_clean['time'])
Nextbike_clean.drop(columns=['day','time'], inplace = True)

##output
Nextbike_clean

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp
0,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239,2019-02-08 12:06:00
1,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500,2019-02-10 01:58:00
2,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239,2019-02-11 06:33:00
3,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314,2019-02-11 13:31:00
4,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239,2019-02-11 14:32:00
...,...,...,...,...,...,...,...,...
185322,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899,2019-05-25 10:58:00
185323,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366,2019-05-27 09:32:00
185324,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432,2019-05-27 11:02:00
185325,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005,2019-02-11 11:47:00
185326,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129,2019-03-22 11:35:00

## Round datetime and extract possible categorisation attributes

In [9]:
Nextbike_clean['timestamp_rounded'] = Nextbike_clean['timestamp'].dt.floor('H') #alternativ "round" statt "floor" für Runden
Nextbike_clean['Weekday'] = Nextbike_clean['timestamp_rounded'].dt.weekday
Nextbike_clean['Time'] = Nextbike_clean['timestamp_rounded'].dt.time

##output
Nextbike_clean

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp,timestamp_rounded,Weekday,Time
0,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239,2019-02-08 12:06:00,2019-02-08 12:00:00,4,12:00:00
1,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500,2019-02-10 01:58:00,2019-02-10 01:00:00,6,01:00:00
2,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239,2019-02-11 06:33:00,2019-02-11 06:00:00,0,06:00:00
3,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314,2019-02-11 13:31:00,2019-02-11 13:00:00,0,13:00:00
4,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239,2019-02-11 14:32:00,2019-02-11 14:00:00,0,14:00:00
...,...,...,...,...,...,...,...,...,...,...,...
185322,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899,2019-05-25 10:58:00,2019-05-25 10:00:00,5,10:00:00
185323,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366,2019-05-27 09:32:00,2019-05-27 09:00:00,0,09:00:00
185324,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432,2019-05-27 11:02:00,2019-05-27 11:00:00,0,11:00:00
185325,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005,2019-02-11 11:47:00,2019-02-11 11:00:00,0,11:00:00
185326,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129,2019-03-22 11:35:00,2019-03-22 11:00:00,4,11:00:00